---

import Layout from '../layouts/Layout.astro';
import LandingHeader from '../components/LandingHeader.astro';
import HeroSection from '../components/HeroSection.astro';
import ChargeSection from '../components/ChargeSection.astro';
import ModelY from '../components/ModelY.astro';
import Section from '../components/Section.astro';


---

<Layout title="Vive la vida, escoge un Tesla">
	<LandingHeader/>
	<main class="snap-y snap-mandatory relative w-full h-screen overflow-auto scroll-smooth"><!--snap-y, snap-mandatory uno dice que queremos hacer un slider vertical y el otro que se obligatorio el salto-->
		<div class="snap-center"><!--snap-center es para donde queremos que quede una vez de el salto el slider-->
			<HeroSection/>
		</div>
		<div class="snap-center"><!--snap-center es para donde queremos que quede una vez de el salto el slider-->
			<ModelY/>
		</div>
		<div class="snap-center"><!--snap-center es para donde queremos que quede una vez de el salto el slider-->
			<HeroSection/>
		</div>
		<div class="snap-center"><!--snap-center es para donde queremos que quede una vez de el salto el slider-->
			<HeroSection/>
		</div>
		<div class="snap-center"><!--snap-center es para donde queremos que quede una vez de el salto el slider-->
			<HeroSection/>
		</div>
		<div class="snap-center"><!--snap-center es para donde queremos que quede una vez de el salto el slider-->
			<HeroSection/>
		</div>
		<div class="snap-center"><!--snap-center es para donde queremos que quede una vez de el salto el slider-->
			<ChargeSection/>
		</div>
		
	</main>
</Layout>

